<div class="container p-4">
    <div class="row">

        {{#each experience}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="m-2">{{title}}</p>
                        <p>{{level}}%</p>
                        <a href="/experience/delete/{{id}}" class="btn btn-danger">Delete technology </Link></a>
                        <a href="/experience/edit/{{id}}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>There are no Experiences saved yet.</p>
                    <a href="/experience/add">Create One!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>