<div class="container p-4">
    <div class="row">
        {{#each experiences}}
            <div class="col-md-12">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{title}} {{Year}}</h5>
                        <p class="card-text">{{Description}}</p>
                        <a href="/experiences/delete/{{id}}" class="btn btn-danger">Delete experience </Link></a>
                        <a href="/experiences/edit/{{id}}" class="btn btn-secondary">Edit</a>
                        {{!-- <a href="/experiences/add">Create One!</a> --}}
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>There are no Experiences saved yet.</p>
                    <a href="/experiences/add">Create One!</a>
                </div>
            </div>
        {{/each}}
        <a class="text-center col-12" href="/experiences/add">Add another experience!</a>
    </div>
</div>