<div class="container p-4">
    <div class="row">
        {{#each about}}
            <div class="col-md-12">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{title}} {{year}}</h5>
                        <p class="card-text">{{Description}}</p>
                        <a href="/about/delete/{{id}}" class="btn btn-danger">Delete about <section></section> </Link></a>
                        <a href="/about/edit/{{id}}" class="btn btn-secondary">Edit</a>
                        {{!-- <a href="/about/add">Create One!</a> --}}
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>There are no about sections saved yet.</p>
                    <a href="/about/add">Create One!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>